fastapi
uvicorn[standard]
motor
pydantic-settings
celery
redis
APScheduler
python-socketio[asyncio_redis]
passlib[bcrypt]
python-jose[cryptography]
email-validator
httpx
aiosmtplib
python-multipart
fastapi-mail
